body {
    height: 100vh !important;
    width: 100vw !important;
    overflow: hidden;
}

.left {
    background-color: #dadada;
    width: 50vw;
}

.terminal {
    height: 200px;
}

.resize-terminal {
    height: 14px;
    cursor: row-resize;
}

.resize-editor {
    width: 14px;
    cursor: col-resize;
}

.resize {
    flex-shrink: 0;
    position: relative;
    z-index: 10;
}

.right {
    flex-grow: 1;
}

.flex-grow {
    flex: 1 0 auto;
}   

.editor.bg-dark {
    background: #495057 !important;
}

.editor.bg-light {
    background: #f8f9fa !important;
}

nav.bg-light, .resize.bg-light {
    background-color: #abafb4 !important;
}

.editor::-webkit-resizer {
    display: none;
}

.h-0 {
    height: 0 !important;
}